@model IEnumerable<FileUploadOneToMany.Models.ProductFile>

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<p>
    @Html.ActionLink( "Create","ProductFiles"  new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                <td>
                    <a href="@Url.Content(item.FilePath)" class="btn btn-success" target="_blank">View</a> |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
